
@import'variables';

body{
    
    font-size: 15px;
    line-height: 1.6;
    background: #fafafa;
    font-family: "Poppins", Arial, sans-serif !important;
    overflow-x: hidden;
}
.navbar-light .navbar-toggler {
    color:#fff;
    border-color:#fff;
}

.navbar-default{
    // background:$primary-color; 
    &-brand{//layouts brand
        color:#333 !important;
        font-weight: 700;
    }
    &-link{//layouts link
        color:#333 !important;
        font-weight: 600;
    }
}

.element-background{
    background:$primary-color;
    color:#fff;
}
.asterick{
    color:$primary-color;
    font-weight:700;
    font-size: 18px;
}
.text-color{
    color:$primary-color;
}
.bg-color{
    background-color:$primary-color;
    color:#fff;
    font-weight: 400;

    &:hover{
        background-color:darken($primary-color,10);
        color:#fff;  
    }
}
/****Home page***/
.background-image{//setting background image
    background :#000 url("/images/bg_1.jpg");
    background-size: cover;
    height:100vh;
    color:#fff;
    z-index: 1000;
    position: relative;

    &::before{//home overlay
        content:'';
        position:absolute;
        top:0;
        right:0;
        z-index:-1;
        height: 100%;
        width:100%;
        background: rgba(0, 0, 0, 0.5)
    }
    .txt-type{//color for type writer text
        color:$primary-color;
    }

    .txt-type > .txt {//type writer Cursor 
        border-right: 0.2rem solid $primary-color;
    }
    .showcase{
        &-heading{//showcase heading
            font-size: 15px;
            color: $primary-color;
            font-weight: 800;
            display: block;
            line-height: 1.5;

        }
        &-text h1{//show case display text
            font-size: 55px;
            line-height: 1.5;
            font-weight: 700;
        }
        &-para{//showcase paragraph
            font-size: 18px; 
            line-height: 1.5;
            color: rgba(255, 255, 255, 0.7);
        }
    }
    .btn-1{//get started btn
        background:$primary-color;
        color:#fff;
        font-size:18px;
        font-weight: 400;
    }
   
    .wrapper{
        position: absolute;
        margin-top:80px;
    }
    .navbar-home{//home navbar
        position: relative;
        top:3%;
        padding-left:3rem;

        .navbar-brand{ //navbar-brand
            font-weight: 700;
            font-size: 22px;
            line-height: 1;

            &-logotxt{
                font-size: 11px;
                font-weight: 100;
            }
        }
        & a{//home nav link
            color:#fff;
            font-size:15px;

            transition: all .45s ease; 
            border-bottom: 2px solid transparent;

            &:hover{//link hover
                // color:$primary-color;
                 border-bottom:2px solid $primary-color;
            
            }

            &:active{//active link
                color:$primary-color;
            }
        }
    }
}
 .home-card{

    &-name{
        color: #008cc9;
        font-weight:700; 
        text-decoration: none; 
        font-size: 1.2em;
        line-height: 1.4;
    }
    &-hr{
        margin: -0.5rem -0.6rem   0.2rem;
    }
    &-headline{
        font-weight: 700;
        color:#333;
        margin-bottom:0;
    }
    &-description{
        color:#333;
    }
   
    
}
.nav-tabs .nav-link{//card Navbar
    color: $primary-color; 
    font-weight:600;
    border-radius: 0;
    border: none;

    &.active {//active state
    border-top: 3px solid $primary-color;
    background-color: #fff;
    color:#333;
 }
}
/******end of home***/


/*******counties page*****/
.search{
    margin: -16px -125px 0 -118px;
    .jumbotron{
        // background-color: transparent;
        background: rgba(0, 0, 0, 0.5);
        height:250px;

    }
    &-jumbotron{//background image
        background: url("/images/hammer.jpg");
        background-repeat: no-repeat;
        background-size: cover;
       background-position: center center;
        height:250px;
        color:#fff;

        &-text{//Display text
            font-size:48px;
            padding-top:30px;
        }
       
    }
}  
.wrapper-heading{//view by text
    font-size: 17px !important;
}  

/******* End county page*****/

/*******location page*****/
.location{
    margin: -16px -125px 0 -118px;
    .jumbotron{
        // background-color: transparent;
        background: rgba(0, 0, 0, 0.4);
        height:250px;

    }
    &-jumbotron{//background image
        background: url("/images/city.jpg");
        background-repeat: no-repeat;
        background-size: cover;
       background-position: center center;
        height:250px;
        color:#fff;

        &-text{//Display text
            font-size:48px;
            padding-top:30px;
        }
       
    }
}  
.location-heading{//view by text
    font-size: 25px !important;
}  

/******* End location page*****/


footer{//footer
    font-family: "Poppins", Arial, sans-serif !important;

    // height: 90vh;
    line-height: 1.8;
    color:#f4f4f4;
    font-size: 16px;
    background: #222831;
    padding: 5em 0 3em 0;
    
    a {
        color:#f4f4f4;

        &:hover{
        color: #afa939;
        text-decoration: none;
        }
    }
   
    .logo{
        font-size: 34px;
        text-transform: uppercase;
        font-weight: 800 !important;
        line-height: 1;

        & a span{
           color: #afa939;
            font-size: 16px !important;
            display: block; 
        }
        
    }

    .logo a:hover{
        color:#f4f4f4;
    }

    .heading-2{
        font-weight:400;
        margin-bottom: 40px;
        font-size: 20px;
    }

    &-widget{
        p{
            margin-top: 20px;
        }
    }
    
}
.attorney-card{
    &-link{
        font-size:13.9px;
        display: block;
        line-height: 1.4;
        color:#008cc9;
    }
}
.mission{//image
    background: url(/images/mission.jpg);
    background-size: cover;
    background-position: center;
    height:430px;

    &-text{//text section
        font-size: 30px;
        font-weight: 700;
        line-height: 1.5;
        color: rgba(0, 0, 0, 0.8);
    }

    &-nav .nav-tabs .nav-link{//card Navbar
      background: #fff;
       color: #000000;
       font-weight: 600;
       border-radius: 0;
       border: none;
    
        &.active {//active state
        color:#fff; 
        background-color:$primary-color;
        border: 2px solid $primary-color;
     }
    }
    
}


///////Attorney register page
.register-para{
    border-bottom: 2px solid $primary-color;
    display: inline-block;
    padding-right: 15px; 
}
.register{
    background: -webkit-linear-gradient(left, #66630b, #a59e18);
    margin-top: 3%;
    padding: 3%;
}
.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}
.register-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.register .register-form{
    padding: 10%;
    margin-top: 10%;
}
.btnRegister{
    margin: auto;
    margin-top: 7%;
    border: none;
    border-radius: 1.5rem;
    padding:5px 10px 5px 10px;
    background: darken($primary-color,5%);
    color: #fff;
    font-weight: 500;
    width: 20%;
    cursor: pointer;
}
.register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}
/**************profile page*******/
.profile{//profile page
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    .card{//card padding
        padding:7px;
        line-height: 1.2rem;
    }

    .nav-item-1{//padding between navtabs
       padding-left:2px;

    }
    .nav-tabs .nav-link {//navtabs
        color:#000;
        border-top: 3px solid transparent;
        background:#f4f4f4;

        &:hover{//link hover
            color:$primary-color;
            font-weight: 600;
            border-top:3px solid $primary-color;
        
        }

        &:active{//active link
            color:$primary-color;
        }
    }

    &-content{//profile content
        border: 1px solid rgba(0,0,0,.1);
        margin-top: 12px;
        padding:12px;
        background:#fff;
    } 
    #more{
        display: none;
    }
    #dots{
        color:#000;
        font-weight: 800;
    }
    #read{//read more btn
        font-size: 16px;
        margin-left:250px;
        border:none;
        outline:none;
        background: transparent;
        font-weight: 500;
      
    }
}

/*****Practice Area Page*****/
.practice-area{
	display: block;
	margin-bottom: 40px;
	padding: 20px;
	border: 1px solid rgba(0,0,0,.8);
	position: relative;
	@include media-breakpoint-down(sm){
		border-left: none;
		border-bottom: 1px solid rgba(0,0,0,.08);
	}
	.icon{
		width: 100px;
		height: 100px;
		border-radius: 50%;
		background: rgba(0,0,0,.05);
		margin: 0 auto;
		margin-bottom: 10px;
		@include transition(.3s);
		@include border-radius(50%);
		span{
            // font-size: 50px;
			color: lighten($primary-color,2);
			@include transition(.3s);
		}
	}
	h3{
		font-size: 20px;
		a{
            color: black;
            text-decoration: none;
		}
	}
	.btn-custom{
		position: absolute;
		bottom: 0px;
		left: 0;
		right: 0;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background: $primary-color;
		margin: 0 auto;
		opacity: 0;
		@include transition(.3s);
		span{
			color: #fff;
		}
	}
	&:hover,&:focus{
		.icon{
			background: $primary-color;
			span{
				color: #fff;
			}
		}
		.btn-custom{
			opacity: 1;
			bottom: -25px;
		}
    }
    p{
        color:#808080;
        font-family: "Poppins", Arial, sans-serif;
    }
}
// .ftco-animate {
// 	opacity: 0;
// 	visibility: hidden;
// }
/*****End Practice Area Page*****/

/***review page***/
.review{
    font-size:14px;
    &-heading{
        padding:5px;
        border-bottom: 3px solid #afa939;
    }
    &-card{
        border: none;
    }
    &-link{
        font-size:14px;
        font-weight: 700;
    }
    &-btn{
        padding:10px 40px 10px 40px;
        font-weight:600;
        font-size: 17px !important;
    }
    &-guidelines{
        border-top:5px solid #333 !important;
        border: 1px solid rgba(0,0,0,.2);
        padding:30px;
        background:#fff;

        &-content{
            border: 1px solid rgba(0,0,0,.2);
            padding:10px;
            font-size: 13px;
            line-height: 1.5rem;
        }
        &-image{
            height:100px;
            width:100px;
            margin-left:70px;
        }
    }
}
// messages
// ul{
//     margin: 0;
//     padding:0;
// }
// li{
//     list-style: none;
// }
// .user-wrapper, .message-wrapper{
//     border: 1px solid #dddddd;
//     overflow-y: auto;
// }
// .user-wrapper{
//     height:600px;
// }
// .user{
//     cursor: pointer;
//     padding: 5px 0;
//     position: relative;
// }

// .user:hover{
//     background: #eeeeee;
//     color:#333;
// }
// .user:last-child{
//     margin-bottom:0;
// }
// .pending{
//     position:absolute;
//     left:13px;
//     top:5px;
//     background:#b600ff;
//     margin:0;
//     border-radius:50%;
//     width:20px;
//     height:20px;
//     line-height: 16px;
//     padding-left: 5px;
//     color:#ffffff;
//     font-size:12px;
// }
// .media-left{
//     margin-left:0 10px;
// }

// .media-body p{
//     padding:6px 0;
// }
//     .message-wrapper{
//         padding:10px;
//         height:536px;
//         background:#eeeeee;
//         visibility: hidden;

//     }
//     .hide{
//         visibility: visible;
//     }
//     .messages .message{
//         margin-bottom:15px;
//     }
//     .messages .message:last-child{
//         margin-bottom:0;
//     }
//     .received, .sent{
//         width:45%;
//         padding:3px 10px;
//         border-radius:10px;
//     }
//     .received{
//         background:#ffffff;
//     }
//     .sent{
//         background: #3bebff;
//         float:right;
//         text-align:right;
//     }
//     .message p{
//         margin:5px 0;
//     }
//     .date{
//         color: #777777;
//         font-size:12px;
//     }

//     .active{
//         background: #38c172;
//         color:#ffffff;
//     }

//     input[type=text]{
//         width:100%;
//         padding:12px 20px;
//         margin:15px 0 0 0;
//         display:inline-block;
//         border-radius:4px;
//         box-sizing: border-box;
//         outline: none;
//         border: 1px solid #cccccc;
//     }
//     input[type=text]:focus{
//         border:1px solid #aaaaaa;
//     }




// messages
.sent{
    &-item{
        width:45%;
        padding:3px 10px;
        border-radius:10px;
        background: #3bebff;
        float:right;
        text-align:right;

    }
    // &-message{
    //     background: #f4f4f4;
    // }
}
.received{
    &-item{
        width:45%;
        padding:3px 10px;
        border-radius:10px;
        background: #f4f4f4;
        float:left;
        text-align:left;
    }

}
//user dashboard
.user-dashboard{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.user-nav{
    &-tabs .nav-link.active {//active nav link
        background-color: #fff;
        // border: 1px solid #eaeced;
        border-left: 3px solid #afa939;
        // padding-left: 20px;
        font-weight: 700;
        color: #000;

    }
    &-link{//nav link
        border: 1px solid #eaeced;
        color:#4A4A4A; 
        padding-left:20px; 
        text-align: left;
    }
    &-link:hover{//nav link hover
        color:$primary-color; 
        

    }
}
.user-text-wrapper{//text wrapper
    background:#fff;
    padding: 30px 25px 80px 25px;
    margin-bottom: 60px;
    margin-top: 40px;
    border-radius: 5px;
    border: solid 1px #eaeced;
}
.sectionDetails {//details
    clear: both;
    padding: 25px 15px;
    min-height: 50px;
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
    border-bottom: 1px solid #eaeced;
}
// .sectionDetails .sectionWrapper {
//     // float: left;
//     // width: 82%;
// }
.sectionTitle {//title
    float: left;
    width: 33%;
    font-weight: 700;
    padding-right: 20px;
    word-wrap: break-word;
}
.sectionContent {//content
     float: left;
    width: 67%;
    word-wrap: break-word;
    font-weight: 400;
}

.dropdown-item-user:hover{
    background-color:$primary-color;
    color:#fff;
    font-weight: 500;
    border-radius:0 ;
    
}
// end of user dashboard

//attorney dashboard
.attorney-img{
    border-radius:50% ;
    width:80px;
    height:80px;
}/*******end****/

/****Attorney by county data****/
.attorney-county{
    color:#333;
    &-text{
        font-family: circular,Avenir Next,Avenir,Century Gothic,sans-serif;
        font-size: 1.75em;
        line-height: 1.28571;
        
    }
    .breadcrumb {
        background-color: transparent;
        font-size: 14px;
        margin:-15px 0 -5px -15px;
    }
    &-smalltext{//small text class
        font-size:12.98px;
    }
    &-description{//decription colmn
        margin-left:-240px;
    }
    .icon-center{//message icon
        border-left:2px solid #ccc;
        border-right:2px solid #ccc;
    }
    .review-text{//review section
        margin-left:-120px;
    }
}
/*****end*******/